

header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:50px;
    text-transform: uppercase;
    font-style: italic;
    background-color:#caf1ff;
}



a {
    text-decoration: none;
    margin-right: 20px;
    color:#000027;
    font-size: 20px;
    font-weight: 500;
}

a:hover {
      background-color: #48ccfd; 
}

.logo {
    font-size: 40px;
    color: #ff36c3;
    font-weight: 600;
}

.icons {
    display: flex;
    align-items: center;
}

.icons i {
    font-size: 22px;
    margin-right: 20px;
    font-weight: 600;
}

.search {
    font-family: "freight-sans-pro", sans-serif;
    letter-spacing: 0.5px;
    padding: 5px;
    font-size: 18px;
}

.search:focus {
    outline:none;
}