.main {
height: 100vh;
}

.mainContent {
    margin: 0px 50px 0px 50px;
    padding: 80px 0px 80px 0px;
    align-items: center;
    justify-content: center;
    gap: 100px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.mainLeft {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: flex-start;
}

.trending {
    margin-bottom: -20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1.5px solid #ff6ed3;
    color:#ff6ed3;
    padding: 6px 20px;
    font-style: italic;
    transform:skew(-10deg);
}

.mainH1 {
    font-size: 110px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: -20px;
    color:#2055cc;
}


.category {
    text-transform: uppercase;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 1.2px;
    font-size: 18px;
    color:#000027;
}

.rating {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.star {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.star i {
    color:rgb(255, 213, 0);
}

.rate p {
    font-size: 16px;
}


.mainButton {
  background-color: #ff6ed3;
    padding: 18px;
    width: 170px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    font-family: "freight-sans-pro", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    transform: skew(-10deg);
}

.mainRight {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card {
    background-color: white;
    height: 300px;
    width: 200px;
    transform: skew(-10deg);
    box-shadow: -10px 15px 0.1px #6ed8ff;
}