* {
  margin: 0;
  padding: 0;
}


body {
   background-image: url('./halftone.png');
    background-size: cover;
    background-attachment: fixed; 
    font-family: "freight-sans-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
}