.footer {
  height: 250px;
  background-color: #6ed8ff; 
  width: 100%;
  color: white;
  padding: 35px;
  text-align: center;
  position: relative;
  bottom: 0;
  overflow: hidden;
   font-weight: 500;

}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, rgba(255,255,255,0.4) 1px, transparent 1px) repeat;
  background-size: 8px 8px;
  transform: translate(-10%, -10%);
  opacity: 0.3;
  z-index: 0;
}

.columns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.column {
  flex: 1;
  text-align: left;
}

.column:not(:last-child) {
  margin-right: 20px;
}

.columnTitle {
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase; 
  font-weight: 500;
}

.navList, .socialList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navLink, .socialLink {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  transition: color 0.3s ease;
  font-weight: 400;
}

.navLink:hover, .socialLink:hover {
  background-color: #4ed0ff; 
}

.copyright {
  font-size: 0.9em;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  position: relative;
  z-index: 1;
  font-weight: 300;
  font-size: 18px;
}


p {
  font-size: 18px;  
  letter-spacing: 0.5px;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 8px;
}