.section {
  background-image: url('./ah-16.png');
  background-color:#99d8ff;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  /*background-color: #66ccff;*/
  padding: 100px;
  overflow: hidden;
}

i {
  color: #ffffff;
  font-size: 25px;
}


.section h1 {
  font-size: 80px;
  color: white;
  font-weight: 700;
  margin-bottom: 15px;
}

.section button {
  padding: 18px;
  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  font-family: "freight-sans-pro", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 18px;
  transform: skew(-10deg);
  cursor: pointer;
}

.section button {
    padding: 18px;
    width: 170px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    font-family: "freight-sans-pro", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 18px;
    transform: skew(-10deg);
}

.section button:hover {
  border: #ff6ed3 2px solid;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  position: relative;
  height: 250px;
  width: 200px;
  transform: skew(-8deg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;

}

.card:hover {
  transform: skew(-8deg) scale(1.05);

}

.cardOverlay {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6), transparent 60%);
  z-index: 0;
}

.cardTitle {
  font-size: 16px;
  color: rgb(7, 19, 24);
  background: white;
  padding: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0px 25px 25px 0px;
}

.categories h3 {
  height: 20px;
  width: 100%;
  padding: 10px;
  transform: skew(-8deg);
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
}

.animeTag {
  background-color: hwb(313 26% 0%);
}

.mangaTag {
  background-color: hwb(202 29% 0%);
}

.styledImage {
  position: absolute;
  width: 60%;
  height: auto;
  overflow: hidden;
  bottom: -460px;
  right: -300px;
  z-index: 0;
}
